{% extends 'blog/blog-base.html' %}
{% block title %} Blog|login {% endblock %}

{% block body %}
{% load static %}
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-4 min-vh-100">
          <h5 style="text-align: center;">{% for message in messages %}{{message}}{% endfor %}</h5>
          
          <form class="mt-5" method="POST" action="">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label" >Username</label>
              <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username" required>
              <div id="emailHelp" class="form-text">please enter your username here !</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="password" required>
            </div>
              <button type="submit" class="btn btn-primary" name="checkbox" style="box-shadow: 0px 5px 5px black;">Login</button><br> <br>
            </form>
             
              <h5> Dont Have An Account ? <a href="{% url 'Register-page' %}" >
                <button class="btn me-4 bg-danger" type="button" style="color: white; box-shadow: 0px 5px 5px black;">Signup</button>
             </a></h5>
          

        </div>

        <div class="col-lg-8" style="background-size: cover; background-image: url('/static/img/blog-landing.jpg')";>
            
        </div>

    </div>
</div>

{% endblock %}
